Package: com.atv.plex-client
Name: Plex ATV Client
Author: quickquick, b0bben, camelot 
Maintainer: quickquick
Description: Plex Client for AppleTV 2G 
Section: Video
Version: 0.5.8
Architecture: iphoneos-arm
Homepage: http://none.yet.com
Conflicts: com.atv.plex-client
Replaces: com.atv.plex-client
Depends: org.awkwardtv.whitelist
