Package: com.plex.client-plugin
Name: AppleTV PLEX Plugin
Version: 0.6.6
Priority: optional
Size: 1083178
Installed-Size: 2662
Depends: beigelist,com.nito
Replaces: plex-client-plugin
Architecture: iphoneos-arm
Description: A PLEX Client for Lowtide (experimental)
 This Lowtide Plugin allows you to browse your local PMS Libraries 
 and play back videos.
 added by ccjensen:
   - Settings Screen
   - Toplevel, unified sections
 added by b0bben:
   - Details-Display while browsing 
   - Music Playback
   - Video Duration (seek and resume)
Changes: More details when browsing the library and music playback (Added by b0bben)
Homepage: http://plexapp.com/
Maintainer: Quiqueck <quiqueck@ambertation.de>
Author: Quiqueck <quiqueck@ambertation.de>
Section: Multimedia
Icon: file:///Applications/Lowtide.app/Appliances/PLEX.frappliance/PlexIcon.png
